<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <% 0.step(27) do |i| %>
        <th><%= i %></th>
    <% end %>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td>&nbsp;</td>
      <% 0.step(27) do |i| %>
        <td><%= i %></td>
    <% end %>
      <td>&nbsp;</td>
    </tr>
  </tfoot>
  <tbody>
  <% 35.step(0, -1) do |row| %>
    <tr>
    <td><%= row %></td>
    <% 0.step(27) do |column| %>
      <td><%= display_tile_at row, column %></td>
    <% end %>
    <td><%= row %></td>
  </tr>
<% end %>
  </tbody>
</table>
